params {
    base = "/N/project/Krolab/Siddharth/Pipelines/spatial"
    results = "${params.base}/results"


    // FastQC Params
    fastqc_dir = "${params.results}/fastqc"
    skip_fastqc = false

    // MultiQC Params
    multiqc_dir = "${params.results}/multiqc"

    // Reference Transcriptome
    transcriptome = "${params.base}/reference/refdata-gex-GRCh38-2024-A"

    // Cell Ranger Input
    cellranger_samples = "${params.base}/samplesheets/cellranger_samples.csv"
    cellranger_output = "${params.results}/cellranger"
    skip_cellranger = false
    fallback_to_cellranger = true

    // Space Ranger Params
    spaceranger_samples = "${params.base}/samplesheets/spaceranger_samples.csv"
    spaceranger_output = "${params.results}/spaceranger"
    spaceranger_id = "GBM_CytAssist"
    skip_spaceranger = false
    fallback_to_spaceranger = true

    // CellBender Params
    cellbender_output = "${params.results}/cellbender"
    cellbender_expected_cells = 5000
    cellbender_total_droplets = 20000
    cellbender_epochs = 150

    // Space Ranger input files
    spaceranger_input = "${params.base}/spaceranger_input"
    spaceranger_tissue = "${params.spaceranger_input}/CytAssist_FFPE_Protein_Expression_Human_Glioblastoma_tissue_image.tif"
    spaceranger_cytassist_image = "${params.spaceranger_input}/CytAssist_FFPE_Protein_Expression_Human_Glioblastoma_image.tif"
    spaceranger_probe_set = "${params.spaceranger_input}/CytAssist_FFPE_Protein_Expression_Human_Glioblastoma_probe_set.csv"
    spaceranger_feature_reference = "${params.spaceranger_input}/CytAssist_FFPE_Protein_Expression_Human_Glioblastoma_feature_reference.csv"
    spaceranger_loupe_alignment = "${params.spaceranger_input}/CytAssist_FFPE_Protein_Expression_Human_Glioblastoma_alignment_file.json"
}

profiles {
    slurm {
        apptainer {
            enabled = true
            cacheDir = "${params.base}/apptainer_images"
        }
        process {
            executor = 'slurm'
            queue = 'gpu'
            clusterOptions = '-A r00750'

            cpus = 8
            memory = '25.GB'
            time = '24.h'

            withName: FastQC {
                cpus = 4
                memory = '8.GB'
                time = '1.h'
            }

            withName: 'MultiQC'{
                cpus = 4
                memory = '16.GB'
                time = '6.h'
            }

            withName: "CellRanger"{
                cpus = 16
                memory = '75.GB'
                time = '24.h'
            }

            withName: 'SpaceRanger' {
                cpus = 16
                memory = '75.GB'
                time = '24.h'
            }

            withName: 'CellBender' {
                queue = 'gpu'
                cpus = 16
                memory = '75.GB'
                time = '12.h'
                accelerator = [request: 1, type: 'A100']
            }
        }
    }
}